@import url('https://fonts.cdnfonts.com/css/vonique-92');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Vonique 92", sans-serif;
    /* font-display: optional; */
    font-display: swap;
}

/* @font-face{
    font-family: "Vonique 92", sans-serif;
    src: url("https://fonts.cdnfonts.com/css/vonique-92");
} */

body{
    cursor: url('../src/images/logo.svg'), auto;
}




.link{
    color: rgb(98, 98, 98);
}

.active{
    color: black;
}

.--black{
    color: #000;
}


.--decoration-none{
    text-decoration: none;
}

.--margin-right-20{
    margin-right: 20px;
}

.--font-1-2em{
    font-size: 1em;
}

.--futura{
    font-family: "Futura";
}
.--avenir{
    font-family: "Avenir";
}




.fullContainer{
    height: 100vh;
    background-color: white;
}

.projectContainer, .aboutContainer{
    height: 85%;
}



/* NAVBAR COMPONENT */

.navbar-logo{
    /* margin-top: 20px; */
    width: 50px;
}

.phone-navbar-logo{
    display: none;
}

.navbar-container{
    /* display: flex; */
    /* justify-content: space-between; */
    display: none;
}

.navbar{
    height: auto;
    text-align: center;
    background-color: burlywood;
    background-color: white;
}

.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    visibility: hidden;
    opacity: 0;
}






/* PROJECTS PAGE */

.container{
    /* border: 5px solid red; */
    height: 100%;
    background-color: white;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    gap: 12px;
    padding: 0 20px 0 20px ;
}

.container .item{
    /* height: 80vh; */
    flex: 0 0 25%;
    /* padding: 20px; */
    scroll-snap-align: start;
}

.container img{
    display: block;
    height: 100%;
    object-fit: cover;
}

.container::-webkit-scrollbar{
    display: none;
}

.firstImage{
    height: 70%;
    margin-top: auto;
}

.secondImage{
    height: 100%;
    margin-top: auto;
}

.thirdImage{
    height: 70%;
    /* margin-top: auto; */
}

.fourthImage{
    height: 70%;
    margin: auto 0;
}

.fifthImage{
    height: 90%;
    margin-top: auto;
}

.sixthImage{
    height: 60%;
    margin-top: auto;
}




/* PROJECTS PAGE - GET IN TOUCH */

#gInTouch{
    /* margin-top: auto; */
    margin: auto;
    flex: 0 0 50%;
    margin-left: 30px;
}

.gitHeading{
    margin-bottom: 40px;
    /* margin: 15px 0 40px 0; */
}

.topLine{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.name, .email{
    width: 100%;
    flex-basis: 45%;
}
.email input, .name input{
    background-color: none;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Futura";
    /* font-size: 18px; */
}
input:-webkit-autofill {
    /* The following works as the text color for the autofill  */
    -webkit-text-fill-color: (the text color you want);
    /* The following works as a background for the autofill  */
    -webkit-box-shadow: 0 0 0px 1000px white inset; 

}

.serviceLine, .budgetLine, .descriptionLine, .currency{
    margin-bottom: 20px;
}

.serviceButtons, .budgetButtons{
    display: flex;
}

.marginRight{
    margin-right: 10px;
}
.descriptionLine input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.sendbtn{
    cursor: pointer;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
}


.labelFont{
    font-size: small;
}
::placeholder{
    color: rgb(54, 54, 54);
    font-family: "Futura";
    font-weight: 500;
}


/* RADIO BUTTONS */

input[type="radio"]{
    display: none;
}

label{
    cursor: pointer;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: black;
    border: 1px solid black;
    border-radius: 40px;
}

input[type="radio"]:checked + span{
    color: white ;
    background-color: black;
}








/* SINGLE ALBUM PAGE TEXT ENDS */

#album{
    /* margin-top: auto; */
    margin: auto 0;
    flex: 0 0 50%;
}

.albumDetails{
    display: flex;
    justify-content: space-between;
}

.albumLeft{
    flex: 0 0 25%;
    margin: auto 0;
    text-align: center;
}







/* ABOUT PAGE */

#aboutSection{
    /* margin-top: auto; */
    margin: auto 0;
    flex: 0 0 50%;
}
#aboutSection h1{
    margin-bottom: 20px;
}

.aboutDetails{
    display: flex;
    justify-content: space-between;
}

.aboutLeft{
    flex-basis: 50%;
    margin-top: auto;
}

.aboutLeft ul{
    list-style: none;
}

.aboutLeft ul li a{
    color: black;
}

.aboutLeft ul li:nth-child(2){
    margin-top:10px;
}










/* FOOTER COMPONENT */

.footer{
    height: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2% 8%;
    background-color: white;
    z-index: 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





@media only screen and (max-width: 768px) {

    .projectContainer, .aboutContainer{
        height: 85%;
    }

    /* NAVBAR COMPONENT */

    .navbar{
        /* display: flex; */
        /* align-items: center; */
        /* text-align: center; */
        /* justify-content: space-between; */
        /* height: 80px; */
        padding: 0 2rem;
        /* background-color: burlywood; */
        color: black;
        background-color: white;
        /* color: white; */
    }
    .navbar-logo{
        display: none;
    }
    .navbar-container{
        display: block;
    }
    .navbar nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        /* background-color: burlywood; */
        background-color: white;
        color: black;
        /* color: black; */
        transition: 1s;
        transform: translateY(-100vh);
    }
    .navbar .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .mobile-logo{
        margin: auto;
        width: 100%;
    }
    .navbar .responsive_nav{
        transform: none;
    }
    .navbar-container{
        display: block;
        /* padding: 0; */
    }





    /* FOOTER COMPONENT */

    .footer{
        display: none;
    }



    .container{
        padding: 0;
        padding-top: 20px;
        display: block;
        margin: 0 4%;
    }

    .container .item{
        /* height: 50vh; */
        /* flex: 0 0 25%; */
        padding: 0 1px 5px 1px;
        /* padding: 0 0 20px 0; */
        scroll-snap-align: start;
    }

    .item{
        height: auto;
        width: 100%;
    }

    .item img{
        width: 100%;
    }

    .container img{
        display: block;
        height: auto;
        object-fit: cover;
    }

    .firstImage{
        /* height: 100%; */
        margin-top: auto;
    }






    /* PROJECT PAGE - GET IN TOUCH */

    #gInTouch{
        margin-left: 0;
    }
    .gitHeading{
        text-align: center;
    }

    .serviceLine, .budgetLine, .descriptionLine, .currency{
        margin-bottom: 50px;
    }
    .topLine{
        display: block;
        margin-bottom: 0;
    }
    .topLine .name,  .topLine .email{
        margin-bottom: 50px;
    }







    /* SINGLE ALBUM PAGE TEXT ENDS */

    #album{
        margin-top: auto;
        flex: 0 0 50%;
    }

    .albumDetails{
        display: block;
        /* justify-content: space-between; */
    }


    .albumRight{
        text-align: center;
    }

    .albumLeft{
        flex: 0 0 25%;
        margin: 40px 0;
        text-align: center;
        color: #000;
    }














    /* ABOUT PAGE */

    #aboutSection{
        margin: 30px 4% 0 4%;
    }

    .aboutHeading{
        text-align: center;
    }

    .aboutDetails{
        display: block;
    }

    .aboutLeft{
        margin-bottom: 30px;
    }

    .aboutLeft ul{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }
    .aboutLeft ul li:nth-child(2){
        margin-top:0;
    }

    .aboutRight{
        word-wrap: normal;
    }

}

/* @media only screen and (min-device-width: 0) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
    .fullContainer{
        height: 100vh;
    }
} */


@media only screen and (max-width: 443px) {
    .serviceButtons, .budgetButtons{
        display: block;
    }
    label span{
        display: block;
    }
    .serviceButtons .bubbleButton, .budgetButtons .bubbleButton{
        background-color: white;
        border: 1px solid black;
        border-radius: 40px;
        padding: 10px 15px 5px 15px;
    }

    .marginBottom{
        margin-bottom: 20px;
    }
}






/* SMALL DEVICES LANDSCAPE */



@media only screen and (max-height: 450px) and (orientation: landscape) {

    .projectContainer, .aboutContainer{
        height: 85%;
    }

    /* NAVBAR COMPONENT */

    .navbar{
        /* display: flex; */
        /* align-items: center; */
        /* text-align: center; */
        /* justify-content: space-between; */
        /* height: 80px; */
        padding: 0 2rem;
        /* background-color: burlywood; */
        color: black;
        background-color: white;
        /* color: white; */
    }
    .navbar-logo{
        display: none;
    }
    .navbar-container{
        display: block;
    }
    .navbar nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        /* background-color: burlywood; */
        background-color: white;
        color: black;
        /* color: black; */
        transition: 1s;
        transform: translateY(-100vh);
    }
    .navbar .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .mobile-logo{
        margin: auto;
        width: 100%;
    }
    .navbar .responsive_nav{
        transform: none;
    }
    .navbar-container{
        display: block;
        /* padding: 0; */
    }





    /* FOOTER COMPONENT */

    .footer{
        display: none;
    }




    /* PROJECT PAGE */

    .container{
        padding: 0;
        padding-top: 20px;
        display: block;
    }

    .container .item{
        /* height: 50vh; */
        flex: 0 0 25%;
        padding: 0 20px 5px 20px;
        scroll-snap-align: start;
    }

    .item{
        height: auto;
        width: 100%;
    }

    .item img{
        width: 100%;
    }

    .container img{
        display: block;
        height: auto;
        object-fit: cover;
    }

    .firstImage{
        height: 100%;
        margin-top: auto;
    }






    /* PROJECT PAGE - GET IN TOUCH */

    #gInTouch{
        margin-left: 0;
        margin: 30px 4% 0 4%;
    }
    .gitHeading{
        text-align: center;
    }

    .serviceLine, .budgetLine, .descriptionLine, .currency{
        margin-bottom: 50px;
    }
    .topLine{
        display: block;
        margin-bottom: 0;
    }
    .topLine .name,  .topLine .email{
        margin-bottom: 50px;
    }










    /* ABOUT PAGE */

    #aboutSection{
        margin: 30px 4% 0 4%;
    }

    .aboutHeading{
        text-align: center;
    }

    .aboutDetails{
        display: block;
    }

    .aboutLeft{
        margin-bottom: 30px;
    }

    .aboutLeft ul{
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }
    .aboutLeft ul li:nth-child(2){
        margin-top:0;
    }

    .aboutRight{
        word-wrap: normal;
    }

}